# based on the script found through a stakoverflow search:
# https://community.rstudio.com/t/should-rproj-files-be-added-to-gitignore/1269/2
# with the explicit template file located at:
# Created by https://www.gitignore.io/api/r
# Edit at https://www.gitignore.io/?templates=r

### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
.Rproj.user/**